# Russian Premiere League Champion Prediction

In [1]:
import pandas as pd
import numpy as np
from warnings import filterwarnings
filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
!ls data/

RPL.csv                 Team Name 2018 2019.csv

In [4]:
!ls ..

README.md                              model_2_average_stats.ipynb
championat.com.ipynb                   model_3_champions_classification.ipynb
champions_russian_premiere_league.csv  rpl_this_season_matches.csv
kaggle dataset                         russian_premier_league_scores.csv
model_1.ipynb                          this_season_rpl.xlsx

In [6]:
data = pd.read_csv('data/RPL.csv', encoding='cp1251', delimiter=';')

In [9]:
data.head()

,Часть,Год,Команда,Соперник,Минуты,Схема,Забито,Пропущено,Удары,Удары в створ,Передачи,Точные передачи,Навесы,Точные навесы,Владение,xG,PPDA,Победитель,Проигравший
0,1,2018,Ахмат,Арсенал,95,4-2-3-1 (100.0%),2,0,19,8,422,361,10,3,52.64,3.19,6.36,Ахмат,Арсенал
1,1,2018,Ахмат,Енисей,94,3-5-2 (100.0%),1,1,7,2,347,247,10,2,37.84,0.19,19.44,Ничья,Ничья
2,1,2018,Ахмат,ЦСКА,96,5-3-2 (79.58%),0,2,11,3,375,291,9,1,46.41,1.02,9.97,ЦСКА,Ахмат
3,1,2018,Ахмат,КС,94,5-3-2 (100.0%),2,1,8,2,455,372,14,6,52.39,0.95,9.19,Ахмат,КС
4,1,2018,Ахмат,Зенит,94,5-3-2 (93.08%),0,1,11,3,440,357,16,4,48.79,0.62,15.52,Зенит,Ахмат

In [11]:
data['Год'].unique()

array([2018, 2017, 2016, 2015])

In [77]:
#Функция, возвращающая статистику команды за сезон 
def GetSeasonTeamStat(team, season):
    goalScored = 0 #Голов забито
    goalAllowed = 0 #Голов пропущено

    gameWin = 0 #Выиграно
    gameDraw = 0 #Ничья
    gameLost = 0 #Проиграно

    totalScore = 0 #Количество набранных очков

    matches = 0 #Количество сыгранных матчей
    
    xG = 0 #Ожидаемые голы
    
    shot = 0 #Удары
    shotOnTarget = 0 #Удары в створ
    
    cross = 0 #Навесы
    accurateCross = 0 #Точные навесы
    
    totalHandle = 0 #Владение мячом
    averageHandle = 0 #Среднее владение мячом за матч
    
    Pass = 0 #Пасы
    accuratePass = 0 #Точные пасы
    
    PPDA = 0 #Интенсивность прессинга в матче

    for i in range(len(data)):
        if (((data['Год'][i] == season) and (data['Команда'][i] == team) and (data['Часть'][i] == 2)) or ((data['Год'][i] == season-1) and (data['Команда'][i] == team) and (data['Часть'][i] == 1))):
            matches += 1
                
            goalScored += data['Забито'][i]
            goalAllowed += data['Пропущено'][i]

            if (data['Забито'][i] > data['Пропущено'][i]):
                totalScore += 3
                gameWin += 1
            elif (data['Забито'][i] < data['Пропущено'][i]):
                gameLost +=1
            else:
                totalScore += 1
                gameDraw += 1
            
            xG += data['xG'][i]
            
            shot += data['Удары'][i]
            shotOnTarget += data['Удары в створ'][i]
            
            Pass += data['Передачи'][i]
            accuratePass += data['Точные передачи'][i]
            
            totalHandle += data['Владение'][i]
            
            cross += data['Навесы'][i]
            accurateCross += data['Точные навесы'][i]
            
            PPDA += data['PPDA'][i]
    if matches > 0:
        averageHandle = round(totalHandle/matches, 3) #Владение мячом в среднем за матч
    else:
        averageHandle = 0
    
    return pd.DataFrame([[gameWin, gameDraw, gameLost, 
            goalScored, goalAllowed, totalScore, 
            round(xG, 3), round(PPDA, 3),
            shot, shotOnTarget, 
            Pass, accuratePass,
            cross, accurateCross,
            round(averageHandle, 3)]], columns=['win', 'draw', 'lose', 'scored', 
                                                            'allowed', 'totalscore',
                                                            'xG', 'PPDA', 'shot', 'shotOnTarget', 
                                                            'Pass', 'AccuratePass', 'Cross', 'AccurateCross', 'AvgHandle'
                                                           ])

In [40]:
GetSeasonTeamStat('ЦСКА', 2018)

,win,draw,lose,scored,allowed,totalscore,xG,PPDA,shot,shotOnTarget,Pass,AccuratePass,Cross,AccurateCross,AvgHandle
0,17,7,6,49,23,58,45.82,238.41,442,157,14612,12216,479,153,55.763

In [41]:
new_season = pd.read_csv('../rpl_this_season_matches.csv')

In [43]:
team_list_2022 = new_season.home.unique()

In [45]:
team_list_2022 = [x[:-1] for x in team_list_2022]

In [60]:
team_list_2022[2] = 'Локомотив'
team_list_2022[5] = 'КС'
team_list_2022[8] = 'Арсенал'
team_list_2022[-2] = 'Динамо'
team_list_2022[-3] = 'Спартак'

In [78]:
team_list_2022

['Ростов',
 'Локомотив',
 'Рубин',
 'Урал',
 'КС',
 'ЦСКА',
 'Арсенал',
 'Уфа',
 'Краснодар',
 'Ахмат',
 'Зенит',
 'Спартак',
 'Динамо']

In [64]:
for team in team_list_2022:
    if team not in data['Команда'].unique():
        team_list_2022.remove(team)

In [66]:
len(team_list_2022)

13

похуй на сочи химки и нижний новгород они все равно не выиграю нихуя

In [50]:
data['Соперник'].unique()

array(['Арсенал', 'Енисей', 'ЦСКА', 'КС', 'Зенит', 'Динамо', 'Краснодар',
       'Анжи', 'Локомотив', 'Оренбург', 'Спартак', 'Уфа', 'Урал', 'Рубин',
       'Ростов', 'Амкар', 'Тосно', 'СКА', 'Томь', 'Мордовия', 'Кубань',
       'Ахмат'], dtype=object)

In [67]:
delTeams = [x for x in data['Соперник'].unique() if x not in team_list_2022]
for team in delTeams:
    data = data[data['Соперник'] != team]
    data = data[data['Команда'] != team]
data = data.reset_index(drop=True)

In [177]:
seasons = range(2016,2019)
idx_team = {}
stat_frames = []
for season in seasons:
    for i, team in enumerate(team_list_2022):
        print(f'{i} : {team}')
        idx_team[team] = i 
        teamStat = GetSeasonTeamStat(team, season)
        teamStat['team'] = i
        teamStat['season'] = season
        stat_frames.append(teamStat)
StatData = pd.concat(stat_frames)

0 : Ростов
1 : Локомотив
2 : Рубин
3 : Урал
4 : КС
5 : ЦСКА
6 : Арсенал
7 : Уфа
8 : Краснодар
9 : Ахмат
10 : Зенит
11 : Спартак
12 : Динамо
0 : Ростов
1 : Локомотив
2 : Рубин
3 : Урал
4 : КС
5 : ЦСКА
6 : Арсенал
7 : Уфа
8 : Краснодар
9 : Ахмат
10 : Зенит
11 : Спартак
12 : Динамо
0 : Ростов
1 : Локомотив
2 : Рубин
3 : Урал
4 : КС
5 : ЦСКА
6 : Арсенал
7 : Уфа
8 : Краснодар
9 : Ахмат
10 : Зенит
11 : Спартак
12 : Динамо

In [179]:
StatData.reset_index(drop=True, inplace=True)
StatData

,win,draw,lose,scored,allowed,totalscore,xG,PPDA,shot,shotOnTarget,Pass,AccuratePass,Cross,AccurateCross,AvgHandle,team,season
0,14,3,4,31,14,45,23.92,205.69,213,86,7082,5474,257,88,43.396,0,2016
1,9,8,5,30,23,35,27.26,193.41,252,95,9102,7505,325,108,51.185,1,2016
2,5,5,12,24,30,20,29.10,168.55,285,93,8564,6922,440,161,48.822,2,2016
3,4,6,11,21,39,18,17.89,218.72,198,71,8675,7015,299,86,49.670,3,2016
4,4,5,10,8,23,17,17.37,208.18,197,63,6961,5464,329,96,43.836,4,2016
5,13,4,4,29,17,43,31.93,146.64,295,110,10364,8576,318,74,56.610,5,2016
6,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0.000,6,2016
7,3,5,13,15,36,14,16.34,256.74,165,60,5544,4035,269,64,37.715,7,2016
8,11,5,6,42,20,38,29.34,163.22,305,133,11277,9540,289,99,56.197,8,2016
9,8,7,7,25,24,31,24.99,180.74,245,77,10085,8487,299,88,54.306,9,2016
10,12,5,4,42,24,41,39.70,162.49,305,134,9700,8260,313,118,55.151,10,2016
11,11,3,8,33,28,36,33.88,174.90,297,112,9227,7600,335,106,52.934,11,2016
12,3,6,13,15,37,15,21.84,194.68,240,74,8040,6360,326,88,48.998,12,2016
13,7,9,6,21,14,30,18.84,221.00,177,62,7911,6053,258,74,44.740,0,2017
14,7,7,8,19,20,28,24.96,199.29,255,80,9642,8030,352,117,52.490,1,2017
15,7,4,11,21,27,25,25.61,206.64,247,84,8182,6452,343,106,49.350,2,2017
16,3,5,14,15,39,14,14.53,320.98,196,78,8354,6721,363,106,47.093,3,2017
17,2,7,13,18,33,13,28.15,242.66,304,106,8610,7015,323,133,49.158,4,2017
18,12,6,4,31,13,42,29.97,191.50,325,101,10304,8557,340,124,54.675,5,2017
19,5,5,12,14,34,20,16.69,291.19,205,63,7092,5533,278,85,40.512,6,2017
20,8,4,10,14,20,28,19.64,219.96,179,69,7371,5704,304,118,44.106,7,2017
21,8,10,4,26,17,34,25.94,167.22,275,95,11219,9493,258,88,56.960,8,2017
22,12,3,7,31,26,39,25.46,244.21,244,93,8421,6782,302,92,46.695,9,2017
23,13,5,4,39,15,44,32.38,176.99,276,92,10633,9011,463,163,57.585,10,2017
24,14,3,5,33,24,45,26.91,171.82,312,120,10475,8735,357,121,56.636,11,2017
25,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0.000,12,2017
26,4,8,10,17,25,20,23.43,204.89,208,75,8443,6652,271,82,46.213,0,2018
27,13,6,3,32,14,45,27.06,231.19,228,97,9264,7594,270,90,49.161,1,2018
28,4,9,9,16,21,21,20.77,211.90,200,61,9563,7685,294,98,50.275,2,2018
29,4,10,8,18,24,22,18.56,219.18,227,68,8934,7253,367,119,50.575,3,2018
30,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,0,0.000,4,2018
31,9,7,6,26,18,34,29.80,183.44,318,104,9992,8250,344,118,53.878,5,2018
32,8,6,8,23,30,30,22.24,243.92,246,79,8597,6823,362,135,45.180,6,2018
33,6,8,8,19,25,26,19.80,196.20,172,56,8328,6563,359,119,45.370,7,2018
34,10,4,8,26,24,34,31.96,168.03,308,108,11883,10110,286,76,57.010,8,2018
35,7,5,10,23,30,26,23.52,221.90,242,79,8151,6574,269,82,48.770,9,2018
36,8,9,5,28,19,33,31.67,188.60,300,96,9766,8035,495,156,55.125,10,2018
37,12,4,5,38,25,40,34.22,196.52,319,117,9418,7742,298,122,52.794,11,2018
38,3,10,8,14,25,19,17.91,264.96,215,62,8100,6504,270,72,45.575,12,2018

In [141]:
champions = pd.read_csv('../champions_russian_premiere_league.csv')

In [143]:
champions.year=champions.year.apply(lambda x: x.split('/')[-1]).astype('int')

In [145]:
data_champs = champions[(champions.year >= 2016) & (champions.year < 2020)]

In [151]:
data_champs.champion[3] ='Локомотив'

In [153]:
data_champs.champion[4] = 'Спартак'

In [157]:
data_champs.reset_index(drop=True, inplace=True)

In [160]:
data_champs.champion=data_champs.champion.map(idx_team)

In [185]:
data_champs.year = data_champs.year.astype('int')

In [187]:
data_champs.year[2016]

   year  champion
0  2019        10
1  2018         1
2  2017        11
3  2016         5

In [ ]:
champions_stat = []
for i in range(len(StatData.season)):
    display(data_champs[data_champs.year == StatData.season[i]].champion)
    if StatData.team[i] == data_champs[data_champs.year == StatData.season[i]].champion.to_list()[0]:
        champions_stat.append(1)
    else:
        champions_stat.append(0)
StatData['champion'] = champions_stat

3    5
Name: champion, dtype: int64

3    5
Name: champion, dtype: int64

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()