# Average stats for team for each season aproach

In [13]:
import pandas as pd
import numpy as np
from warnings import filterwarnings
filterwarnings('ignore')

In [14]:
!ls

championat.com.ipynb              russian_premier_league_scores.csv
model_1.ipynb                     this_season_rpl.xlsx
model_2_average_stats.ipynb

In [15]:
data = pd.read_csv('russian_premier_league_scores.csv')

In [16]:
data

                home            away  score       year
0              Зенит       Спартак М  3 : 1  2020/2021
1              Зенит     Локомотив М  6 : 1  2020/2021
2              Зенит           Рубин  1 : 2  2020/2021
3              Зенит            Сочи  3 : 1  2020/2021
4              Зенит            ЦСКА  2 : 1  2020/2021
...              ...             ...    ...        ...
6853  Динамо-Газовик  Текстильщик Км  0 : 2       1992
6854  Динамо-Газовик         Уралмаш  2 : 3       1992
6855  Динамо-Газовик           Океан  3 : 3       1992
6856  Динамо-Газовик           Факел  0 : 1       1992
6857  Динамо-Газовик       Динамо Ст  1 : 0       1992

[6858 rows x 4 columns]

In [17]:
data[['home_goals', 'away_goals']] = data.score.str.split(':', expand=True)

In [18]:
data.home_goals = data.home_goals.astype('int')
data.away_goals = data.away_goals.astype('int')
year_start = []
year_end = []
for year in data.year:
    if '/' in year:
        year_start.append(year.split('/')[0])
        year_end.append(year.split('/')[1])
    else:
        year_start.append(year)
        year_end.append(year)
data['year_start'] = year_start
data['year_end'] = year_end

In [19]:
data

,home,away,score,year,home_goals,away_goals,year_start,year_end
0,Зенит,Спартак М,3 : 1,2020/2021,3,1,2020,2021
1,Зенит,Локомотив М,6 : 1,2020/2021,6,1,2020,2021
2,Зенит,Рубин,1 : 2,2020/2021,1,2,2020,2021
3,Зенит,Сочи,3 : 1,2020/2021,3,1,2020,2021
4,Зенит,ЦСКА,2 : 1,2020/2021,2,1,2020,2021
...,...,...,...,...,...,...,...,...
6853,Динамо-Газовик,Текстильщик Км,0 : 2,1992,0,2,1992,1992
6854,Динамо-Газовик,Уралмаш,2 : 3,1992,2,3,1992,1992
6855,Динамо-Газовик,Океан,3 : 3,1992,3,3,1992,1992
6856,Динамо-Газовик,Факел,0 : 1,1992,0,1,1992,1992
6857,Динамо-Газовик,Динамо Ст,1 : 0,1992,1,0,1992,1992

In [20]:
for team in ['Спартак М', 'Локомотив М', 'Динамо М']:
    data[data.home == team].home = team[:-2]
    data[data.away == team].away = team[:-2]

In [21]:
data.home = pd.Categorical(data.home)
data.away = pd.Categorical(data.away)
data['home_codes'] = data.home.cat.codes
data['away_codes'] = data.away.cat.codes

In [22]:
data

,home,away,score,year,home_goals,away_goals,year_start,year_end,home_codes,away_codes
0,Зенит,Спартак М,3 : 1,2020/2021,3,1,2020,2021,13,39
1,Зенит,Локомотив М,6 : 1,2020/2021,6,1,2020,2021,13,21
2,Зенит,Рубин,1 : 2,2020/2021,1,2,2020,2021,13,31
3,Зенит,Сочи,3 : 1,2020/2021,3,1,2020,2021,13,36
4,Зенит,ЦСКА,2 : 1,2020/2021,2,1,2020,2021,13,57
...,...,...,...,...,...,...,...,...,...,...
6853,Динамо-Газовик,Текстильщик Км,0 : 2,1992,0,2,1992,1992,10,43
6854,Динамо-Газовик,Уралмаш,2 : 3,1992,2,3,1992,1992,10,53
6855,Динамо-Газовик,Океан,3 : 3,1992,3,3,1992,1992,10,26
6856,Динамо-Газовик,Факел,0 : 1,1992,0,1,1992,1992,10,55
6857,Динамо-Газовик,Динамо Ст,1 : 0,1992,1,0,1992,1992,10,9

In [23]:
dataset = data.copy(deep=False)

In [24]:
dataset.drop(columns=['home', 'away', 'year', 'score'], inplace=True)

In [26]:
dataset

      home_goals  away_goals year_start year_end  home_codes  away_codes
0              3           1       2020     2021          13          39
1              6           1       2020     2021          13          21
2              1           2       2020     2021          13          31
3              3           1       2020     2021          13          36
4              2           1       2020     2021          13          57
...          ...         ...        ...      ...         ...         ...
6853           0           2       1992     1992          10          43
6854           2           3       1992     1992          10          53
6855           3           3       1992     1992          10          26
6856           0           1       1992     1992          10          55
6857           1           0       1992     1992          10           9

[6858 rows x 6 columns]

<li>Average goals</li>
<li>Average home_goals</li>
<li>Average home_loses</li>
<li>Average wins</li>
<li>Average loses</li>
<li>Average draws</li>

In [51]:
dataset.groupby(['home_codes', 'year_start']).mean().iloc[0]

home_goals     1.882353
away_goals     0.941176
away_codes    31.470588
Name: (0, 1996), dtype: float64